* {
    box-sizing: border-box;
  }
h1 {
    text-align: center;
    }
figure {
    float: left;
    width: 600px;
    margin: 25px;
    }
.img-cat {
    width: 100%;
    border: 1px solid black;
}
#main-content::after {
    content: "";
    clear: both;
    display: table;
  }
  #main-content {
      
  }