body {
    background-color:#feb; /*shorthand mocassin*/
    width:auto;
    height:auto;
    margin: 0px;
}
* {
    box-sizing: border-box;
  }
h1 {
    text-align: center;
    }
figure {
    float: left;
    max-width: 600px;
    margin: 25px;
    background-color:rgb(185, 228, 255);
    border-radius: 8px;
    border: 6px solid white;
    }
figure:hover {
    font-style: italic;
    }
figcaption {
    padding: 5px;
    color: black;
    font-family: 'Oswald', sans-serif;
    }
.img-cat {
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}
footer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom:0;
    background-color: white;
    width: 100%;
    text-align: center;
    border-top:  2px solid black;
    padding: 10px 0px;
}
#background-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;    
    visibility: hidden;
}
#main-content {
      max-width: 1300px;
      min-width: 650px;
      margin: auto;
      padding-bottom: 20px;
  }
#main-content::after {
    content: "";
    clear: both;
    display: table;
  }
#intro {
    max-width: 650px;
    text-align: justify;
    margin: auto;
    background-color:rgb(185, 228, 255);
    padding:5px;
    border: 6px solid white;
    border-radius: 8px;
}